@import '/src/global/style.css';

footer {
  margin-top: 5em;
  font-weight: 600;
  border-top: solid 1px #ABB2C4;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-family: var(--font-oficial);
}

.icon {
  text-decoration: none;
}

.nav-social {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center;
}

.icons-social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-apps {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.direitos {
  padding: 0.5em;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .icon-social a {
    text-decoration: none;
  }

  footer .nav-social {
    padding: 1.5em 10em;
  }

  .app-android a  {
    margin: 0 10px;
    text-decoration: none;
  }

  .direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
  }

}