:root {
  --font-oficial: 'Titillium Web', sans-serif;
  --cor-preto: black;
  --cor-preto-secundario: #111318;
  --cor-cinza-claro: #DBDEE6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: var(--font-oficial);
}

.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #111318;
  color: #f3f4f6;
  align-items: center;
}

.link-home {
  text-decoration: none;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 900;
  padding: 0.5em 0;
  color: #f3f4f6;
  font-family: var(--font-oficial);
  text-decoration: none;
}
.link-home a {
  text-decoration: none;
}

.container-input {
  display: flex;
  margin: 2em 0 1em 0;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.control-search {
  display: flex;
  align-items: center;
  width: 100%;
}

#input-container {
  border: none;
  outline: none;
  width: 95%;
  text-align: center
  ;
}

.container-input-nav {
  display: none;
}

.icon-bag {
  color: #f3f4f6;
}

.enter-user {
  display: none;
}


@media screen and (min-width: 1024px) {
  /* Coloque os estilos desejados para telas ainda maiores aqui */
  .container-input {
    display: none;
  }
  .menu {
    display: none;
  }

  .name-marca  a {
    font-size: 24px;
  }

  .bag {
    display: flex;
    width: 10%;
  }

  .bag a {
    display: flex;
    color: white;
    margin: 0 1em;
    font-family: var(--font-oficial);
    font-size: 16px;
    text-decoration: none;
  }

  .container-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0 0.5em 0;
  }

  .container-input-nav {
    display: flex;
    border: solid 1px #252525;
    box-shadow: rgba(102, 102, 102, 0.24) 0px 3px 8px;
    width: 30%;
    border-radius: 4px;
  }

  #input-container {
  background-color: var(--cor-preto-secundario);
  outline: none;
  width: 90%;
  padding: 0 0.5em;
  color: white;
  text-align: center;
  }

  .control-search-nav {
    width: 100%;
  }
}