:root {
  --font-oficial: 'Titillium Web', sans-serif;
  --cor-preto: black;
  --cor-preto-secundario: #111318;
  --cor-cinza-claro: #DBDEE6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: var(--font-oficial);
}

.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: #111318;
  color: #f3f4f6;
  align-items: center;
}

.link-home {
  text-decoration: none;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 900;
  padding: 0.5em 0;
  color: #f3f4f6;
  font-family: var(--font-oficial);
  text-decoration: none;
}
.link-home a {
  text-decoration: none;
}

.container-input {
  display: flex;
  margin: 2em 0;
  justify-content: center;
  border: solid 1px #DBDEE6;
}

.control-search {
  display: flex;
  align-items: center;
  width: 100%;
}

#input-container {
  border: none;
  background-color: #ffffff;
  outline: none;
  width: 95%;
  padding: 0.5em;
  ;
}

.icon-bag {
  color: #f3f4f6;
}
