@import '/src/global/style.css';

body {
  height: 100vh;
}

#stock {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em 0;
  width: 100%;
}

.card {
  box-sizing: border-box;
  height: 230px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 12px;
  margin: 2em 0;
}

.img-exposicion {
  border: solid 1px #c7c7c7;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.img-product {
  width: 100%;
  height: 130px;
  border-radius: 5px 5px 0 0;
}

.marca {
  font-size: 14px;
  font-weight: 600;
  color: rgb(54, 54, 54);
  font-family: var(--font-oficial);
  padding: 0 5px;
}

.nome-produto p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(122, 122, 122);
  font-family: var(--font-oficial);
  font-weight: 600;
  margin: 1px;
  padding: 0 5px;
}

.precos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  font-family: var(--font-oficial);
}

#valor-desconto {
  color: rgb(151, 150, 150);
  font-size: 12px;
  margin-right: 5px;
  font-family: var(--font-oficial);
}

#nome-desconto {
  color: rgb(110, 110, 110);
  font-size: 12px;
  font-weight: 500;
  font-family: var(--font-oficial);
  font-weight: 600;
}

#valor-total {
  margin: 0 auto;
  color: rgb(70, 70, 70);
  font-size: 16px;
  font-weight: 600;
}


@media screen and (min-width: 1024px) {
  /* Coloque os estilos desejados para telas ainda maiores aqui */
  .menu {
    display: none;
  }
  #stock {
    width: 60%;
    margin: 2em auto;
  }

.card {
  box-sizing: border-box;
  height: 240px;
  width: 22%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 12px;
  margin: 2em 0.5em;
}

.img-exposicion {
  border: solid 1px rgb(196, 196, 196);
  border-radius: 5px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

}
