@import '/src/global/style.css';

.empty-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4em 0;
  line-height: 2;
}

.empty-cart h1 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  margin: 0;
}

.empty-cart p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  margin: 0;
}

.empty-cart a {
  font-size: 12px;
  color: rgb(44, 43, 43);
  text-transform: uppercase;
  font-weight: 600;
}
.container-product {
  display: flex;
  border: solid 1px rgb(226, 225, 225);
  padding: 1em;
  font-size: 12px;
}
.image {
  width: 100%;
  height: 140px;
}

.product-information {
  display: flex;
  flex-direction: column;
  line-height: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
}

.container-del {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.marca {
  font-size: 14px;
  font-weight: 600;
}

.container-quantity-price{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgb(224, 222, 222);
  padding: 0.3em 1em;
  align-items: center;
  box-sizing: border-box;
}
.container-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.5em;
}
.increase, .descrease, .remove {
  border: none;
  background-color: transparent;
}

.container-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-discount {
  font-size: 11px;
  font-weight: 600;
  color: rgb(138, 138, 138);
}
.price-total {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.replacement {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
  border: solid 1px rgb(202, 202, 202);
  margin-top: 2em;
  background-color: rgb(240, 238, 238);
}

.descrition {
  width: 90%;
  padding: 0 0.5em;
}
.title-troca, .title-cupom{
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.text-troca, .text-cupom {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
.cumpons {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
}
.title-voucher {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
.voucher {
  border: solid 1px rgb(194, 194, 194);
  outline: none;
}
.btn-voucher {
border: none;
background-color: rgb(155, 155, 155);
color: rgb(63, 63, 63);
font-weight: 600;
}

fieldset {
  border: none;
  padding: 0;
  margin-top: 1em;
}

.resumo-title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding: 0.3em 0.8em;
  background-color: rgb(204, 205, 206);
  margin: 0;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
}

.sub-itens-quantity, .subtotal-value {
  font-size: 14px;
  font-weight: 500;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: rgb(204, 205, 206);
}

.total-title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  background-color: rgb(204, 205, 206);
  padding: 0;
}

.total-value {
  font-size: 18px;
  font-family: 400;
  color: black;
}

.btn-buy {
  padding: 0.8em;
  width: 100%;
  border: none;
  text-align: center;
  background-color: #0D131C;
  border: 1px solid #9DB2D2;
  margin-top: 1em;
  color: white;
  font-weight: 600;
}

.btn-home {
  padding: 0.8em;
  width: 100%;
  border: none;
  text-align: center;
  border: 1px solid #9DB2D2;
  margin-top: 1em;
}
.btn-home a {
  text-decoration: none;
  color: #0D131C;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
/* nav */
  .menu {
    display: none;
  }
  .container-input {
    display: none;
  }

  .name-marca  a {
    font-size: 24px;
  }

  .bag {
    display: flex;
    width: 10%;
  }

  .bag a {
    display: flex;
    color: white;
    margin: 0 1em;
    font-family: var(--font-oficial);
    font-size: 16px;
  }

  .container-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0 0.5em 0;
  }

  .container-input-nav {
    display: flex;
    border: solid 1px #252525;
    box-shadow: rgba(102, 102, 102, 0.24) 0px 3px 8px;
    width: 30%;
    padding: 2px 0;
  }

  #input-container {
  background-color: var(--cor-preto-secundario);
  outline: none;
  width: 90%;
  padding: 0 0.5em;
  color: white;
  }

  .control-search-nav {
    width: 100%;
  }
  /* cart */


}