@import '/src/global/style.css';

body {
  font-family: var(--font-oficial);
}
.product  {
  font-size: 12px;
  color: rgb(70, 68, 68);
  padding: 0.5em;
  display: flex;
}
.link-home {
  text-decoration: none;
}
.product p {
  font-weight: 600;
  color: black;
  font-family: var(--font-oficial);
}
.container-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.marca {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.Product-Data {
  display: flex;
  flex-direction: column;
  margin: 10  px 0;
  border-bottom: 1px solid rgb(218, 217, 217);
  padding: 1em 0.5em;
  line-height: 1.5;
  font-family: var(--font-oficial);
}

.price-discount {
  margin-right: 1em;
  font-size: 1em;
  color: rgb(48, 47, 47);
}
.prices {
  padding: 0.5em 0.5em;
}
.price {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--cor-preto-secundario);
}
.name-discount {
  font-size: 1em;
  color: rgb(126, 0, 0);
  font-weight: 600;
}

.selecions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 2em 0.5em;
  font-family: var(--font-oficial);
}

.selecions select {
  margin-top: 5px;
}

.select-colors, .select-sizes {
  display: flex;
  flex-direction: column;
}

.container-select-color {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-family: var(--font-oficial);
  padding: 0 5px;
  font-weight: 900;
}
.select-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0 10px;
  align-items: center;

}
#select-color img{
  display: flex;
  width: 60px;
  height: 50px;
  margin-left: 10px;
}
.image-color {
  display: flex;
  width: 60px;
  height: 50px;
}

.container-buy {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.btn-buy {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  background-color: #0D131C;
  padding: 0.3em;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #9DB2D2;
}

@media screen and (min-width: 1024px) {
  /* Coloque os estilos desejados para telas ainda maiores aqui */
  .menu {
    display: none;
  }
  .container-input {
    display: none;
  }
  .menu {
    display: none;
  }

  .name-marca  a {
    font-size: 24px;
  }

  .bag {
    display: flex;
    width: 10%;
  }

  .bag a {
    display: flex;
    color: white;
    margin: 0 1em;
    font-family: var(--font-oficial);
    font-size: 16px;
  }

  .container-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0 0.5em 0;
  }

  .container-input-nav {
    display: flex;
    border: solid 1px #252525;
    box-shadow: rgba(102, 102, 102, 0.24) 0px 3px 8px;
    width: 30%;
    padding: 2px 0;
  }

  #input-container {
  background-color: var(--cor-preto-secundario);
  outline: none;
  width: 90%;
  padding: 0 0.5em;
  color: white;
  }

  .control-search-nav {
    width: 100%;
  }

    /* gallery */
  body :not(header) :not(footer) {
    display: flex;
  }

  #gallery, #info {
    width: 45%;
    margin: none;
  }

.container-gallery {
display: flex;
width: 100%;
flex-direction: column;
}

.card {
  width: 100%;
}
}